/.idea/**
!/.idea/codeStyles/
!/.idea/codeStyles/**
!/.idea/inspectionProfiles/
!/.idea/inspectionProfiles/**
!/.idea/runConfigurations/
!/.idea/runConfigurations/**
!/.idea/gradle.xml
!/.idea/misc.xml
.DS_Store
.gradle
.kotlin
build
out
.tmp/
.claude/worktrees/
